vignettes/*.html
vignettes/*.pdf
src/*.o
src/*.so
README.html

inst/doc

.Rproj.user
.Rhistory
.RData
inst/doc
rsconnect/
README_cache/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz
src/Makevars
src/*.gcda
src/*.gcno

# Non-exported man files
man/rcpp_get_points.Rd
man/rcpp_get_lines.Rd
man/rcpp_get_polygons.Rd

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
