language: r
warnings_are_errors: true
sudo: required

r:
    #- devel
    - release

#env:
# global:
#   - CRAN: http://cran.rstudio.com

notifications:
  email:
    on_success: change
    on_failure: change

r_github_packages:
      - jimhester/covr

after_success:
      - Rscript -e 'covr::codecov()'
