language: r
warnings_are_errors: true
sudo: required

apt_packages:
    libboost-dev

r:
    - release
    - devel

r_github_packages:
      - jimhester/covr

after_success:
      - Rscript -e 'covr::codecov()'
